<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>主界面</title>
    <link href="style\style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js\public.js"></script>
    <script type="text/javascript" src="js\jquery.js"></script>
    <script type="text/javascript" src="js\jqpublic.js"></script>
    <script type="text/javascript" src="webjars/jquery/3.4.1/jquery.js"></script>
    <style type="text/css">
        .mydesign{
            width:1200px;
            height:80px;
            line-height:80px;
            margin:0 auto;
            font-size:16px;
            font-weight:bold;
        }
    </style>
    <script type="text/javascript">
        function confirmMember(coupon) {
            // alert(coupon);
            if(confirm('确定要获取优惠券吗？')) {

                $.ajax({
                    url:"/coupon/tianjia",
                    data:{'coupon':coupon},
                    success:function(data) {
                        if(data.msg=="请先登录"){
                            alert(data.msg)
                            window.location.href="/login";
                        }
                        else if(data.msg == "已拥有该优惠券，请使用后再添加!") {
                            alert(data.msg);
                        }else if (data.msg == "添加成功") {
                            alert(data.msg);
                        }
                    }
                })
            }
        }
    </script>
</head>
<body>
<header>
    <section class="Topmenubg">
        <div class="Topnav">
            <div class="LeftNav" th:if="${session.userCustomer == null}">
                <a href="/register">注册</a>/<a href="/login">登录</a><a href="#">QQ客服</a><a href="#">微信客服</a><a href="#">手机客户端</a>
            </div>
            <div class="LeftNav" th:if="${session.userCustomer != null}">
                <a href="/account" th:text="${session.userCustomer.userName}"></a>/<a href="/logout">注销</a><a href="#">QQ客服</a><a
                    href="#">微信客服</a><a href="#">手机客户端</a>
            </div>
            <div class="RightNav">
                <a href="/center">用户中心</a> <a href="/orderlist" target="_blank" title="我的订单">我的订单</a> <a href="/cart">购物车（0）</a>
                <a href="/favorites" target="_blank" title="我的收藏">我的收藏</a> <a href="#">商家入驻</a>
            </div>
        </div>
    </section>
    <div class="Logo_search">
        <div class="Logo">
            <img src="images\logoNew.png" title="DeathGhost" alt="模板" onclick="javascript:location.href='/'">
            <span>西安市 [ <a href="#">做下拉框</a> ]</span>
        </div>
        <div class="Search">
            <form method="get" id="main_a_serach" action="/like">
                <div class="Search_nav" id="selectsearch">
                    <a href="javascript:;" onclick="selectsearch(this,'restaurant_name')" class="choose">餐厅</a>
                    <a href="javascript:;" onclick="selectsearch(this,'food_name')">食物名</a>
                </div>
                <div class="Search_area">
                    <input type="search" id="fkeyword" name="com_name" placeholder="请输入您所需查找的餐厅名称或食物名称..."
                           class="searchbox">
                    <input type="submit" class="searchbutton" value="搜 索">
                </div>
            </form>
        </div>
    </div>
    <div >
        <nav class="menu_bg">
            <ul class="mydesign">
                <li style="float: left;display: inline"  th:each="c:${page.list}"><a th:onclick="'javascript:confirmMember('+${c.coupon}+')'"><img style="margin-right: 3px" th:src="${c.icon}" height="80"></a></li>
            </ul>
        </nav>
    </div>
</header>
<section class="Cfn">
    <aside class="C-left">
        <div class="S-time">服务时间：周一~周六
            <time>09:00</time>
            -
            <time>23:00</time>
        </div>
        <div class="C-time">
            <img src="upload\dc.jpg">
        </div>
        <a href="/tolist" target="_self"><img src="images\by_button.png"></a>
        <a href="/tolist" target="_self"><img src="images\dc_button.png"></a>
    </aside>
    <div class="F-middle">
        <ul class="rslides f426x240">
            <li th:each="advertisement : ${advertisements}">
                <a th:href="@{'/detail?comId='+${advertisement.comId}}">
                    <img th:src="${advertisement.picture}" style="height:403px;width:600px">
                </a>
            </li>
        </ul>
    </div>
    <aside class="C-left">
        <div class="S-time">服务时间：周一~周六
            <time>09:00</time>
            -
            <time>23:00</time>
        </div>
        <div class="C-time">
            <img src="upload\dc.jpg">
        </div>
        <a href="/toShopList" target="_self"><img src="images\by_button.png"></a>
        <a href="/toShopList" target="_self"><img src="images\dc_button.png"></a>
    </aside>
</section>
<section class="Sfainfor">
    <article class="Sflist">
        <div id="Indexouter">
            <ul id="Indextab">
                <li class="current">点菜</li>
                <li>餐馆</li>
            </ul>

            <div id="Indexcontent">
                <ul style="display:block;">
                    <li>
                        <div class="SCcontent">
                            <a target="_blank" title="菜品名称" th:each="commodity : ${commoditys}"
                               th:href="@{'/detail?comId='+${commodity.comId}}">
                                <figure>
                                    <img th:src="${commodity.picture}">
                                    <figcaption>
                                        <span class="title" th:text="${commodity.comName}"></span>
                                        <span class="price" th:text="${commodity.price}"></span>元
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul> `
                    <li>
                        <div class="DCcontent">
                            <a href="shop.html" target="_blank" title="TITLE:店名" th:each="store : ${businesss}"
                               th:href="@{'/toShop?bId='+${store.bId}}">
                                <figure>
                                    <img th:src="${store.bPicture}">
                                    <span class="title" th:text="${store.bName}">店名</span>
                                </figure>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </article>
    <aside class="A-infor">
        <div class="usercomment">
            <span>用户菜品点评</span>
            <ul>
                <li>
                    <img src="upload\01.jpg">
                    用户“DeathGhost”对[ 老李川菜馆 ]“酸辣土豆丝”评说：味道挺不错，送餐速度挺快...
                </li>
                <li>
                    <img src="upload\02.jpg">
                    用户“DeathGhost”对[ 魏家凉皮 ]“酸辣土豆丝”评说：味道挺不错，送餐速度挺快...
                </li>
                <li>
                    <img src="upload\01.jpg">
                    用户“DeathGhost”对[ 老李川菜馆 ]“酸辣土豆丝”评说：味道挺不错，送餐速度挺快...
                </li>
                <li>
                    <img src="upload\02.jpg">
                    用户“DeathGhost”对[ 魏家凉皮 ]“酸辣土豆丝”评说：味道挺不错，送餐速度挺快...
                </li>

            </ul>
        </div>
    </aside>
</section>
<footer>
    <section class="Otherlink">
        <aside>
            <div class="ewm-left">
                <p>手机扫描二维码：</p>
                <img src="images\Android_ico_d.gif">
                <img src="images\iphone_ico_d.gif">
            </div>
            <div class="tips">
                <p>客服热线</p>
                <p><i>1830927**73</i></p>
                <p>配送时间</p>
                <p><time>09:00</time>~<time>22:00</time></p>
                <p>网站公告</p>
            </div>
        </aside>
        <section>
            <div>
                <span><i class="i1"></i>配送支付</span>
                <ul>
                    <li><a href="/read" target="_blank" title="标题">支付方式</a></li>
                    <li><a href="/read" target="_blank" title="标题">配送方式</a></li>
                    <li><a href="/read" target="_blank" title="标题">配送效率</a></li>
                    <li><a href="/read" target="_blank" title="标题">服务费用</a></li>
                </ul>
            </div>
            <div>
                <span><i class="i2"></i>关于我们</span>
                <ul>
                    <li><a href="/read" target="_blank" title="标题">招贤纳士</a></li>
                    <li><a href="/read" target="_blank" title="标题">网站介绍</a></li>
                    <li><a href="/read" target="_blank" title="标题">配送效率</a></li>
                    <li><a href="/read" target="_blank" title="标题">商家加盟</a></li>
                </ul>
            </div>
            <div>
                <span><i class="i3"></i>帮助中心</span>
                <ul>
                    <li><a href="/read" target="_blank" title="标题">服务内容</a></li>
                    <li><a href="/read" target="_blank" title="标题">服务介绍</a></li>
                    <li><a href="/read" target="_blank" title="标题">常见问题</a></li>
                    <li><a href="/read" target="_blank" title="标题">网站地图</a></li>
                </ul>
            </div>
        </section>
    </section>
    <div class="copyright">© 版权所有 2016 DeathGhost 技术支持：<a href="http://www.deathghost.cn" title="DeathGhost">DeathGhost</a></div>
</footer>
</body>
</html>
